In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("dataset/Covid.csv")

In [3]:
df

    age  gender  fever     cough       city covid
0    22    Male   98.6       NaN     Mumbai    No
1    25  Female   99.1      Mild       Pune    No
2    28    Male  100.2  Moderate      Delhi   Yes
3    31  Female    NaN      Mild  Bengaluru    No
4    35    Male  101.5    Strong    Chennai   Yes
..  ...     ...    ...       ...        ...   ...
73   47  Female  100.5  Moderate  Bengaluru   Yes
74   51    Male  102.1    Strong    Chennai   Yes
75   55  Female    NaN      Mild  Hyderabad    No
76   60    Male  103.4    Strong    Kolkata   Yes
77   64  Female  102.0  Moderate     Mumbai   Yes

[78 rows x 6 columns]

In [4]:
df.isnull().sum()

age        0
gender     0
fever     21
cough      9
city       0
covid      0
dtype: int64

In [5]:
df = df.dropna(subset=['cough'])

In [6]:
df.isnull().sum()

age        0
gender     0
fever     21
cough      0
city       0
covid      0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop('covid',axis=1),df['covid'],test_size=0.3,random_state=42)

In [19]:
X_train.isnull().sum()

age        0
gender     0
fever     13
cough      0
city       0
dtype: int64

In [9]:
from sklearn.compose import ColumnTransformer

In [10]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

In [36]:
transformer=ColumnTransformer( transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['None','Mild','Moderate','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],
    remainder='passthrough')

In [46]:
X_train_transformed=transformer.fit_transform(X_train)
X_test_transformed=transformer.transform(X_test)

xt=pd.DataFrame(X_train_transformed)

In [47]:
xt

             0    1    2    3    4    5    6    7    8     9
0   101.168571  2.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  41.0
1   101.300000  3.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  36.0
2   101.168571  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  54.0
3   100.800000  2.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  38.0
4   101.200000  3.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  36.0
5    99.600000  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  29.0
6   101.168571  2.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  31.0
7   102.200000  3.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  48.0
8   101.168571  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  57.0
9   102.600000  3.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  50.0
10  101.900000  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  63.0
11  101.168571  2.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  43.0
12  103.100000  3.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  58.0
13  101.168571  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  32.0
14   99.700000  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  27.0
15  101.500000  3.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  35.0
16  100.500000  2.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  48.0
17   99.000000  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  26.0
18  100.900000  2.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  46.0
19  101.168571  2.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  34.0
20  102.400000  3.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  49.0
21  101.168571  2.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  43.0
22  103.400000  3.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  60.0
23   99.200000  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  40.0
24  102.300000  3.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  50.0
25  101.168571  2.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  33.0
26  100.700000  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  46.0
27  103.300000  3.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  61.0
28   99.300000  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  39.0
29  101.800000  2.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  62.0
30   99.100000  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  39.0
31  102.800000  3.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  60.0
32  101.100000  3.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  34.0
33  102.100000  3.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  51.0
34  101.168571  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  55.0
35  101.168571  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  53.0
36  103.000000  3.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  59.0
37   99.100000  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  40.0
38  100.500000  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  47.0
39  100.200000  2.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  28.0
40   99.200000  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  38.0
41   99.900000  1.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  28.0
42  101.168571  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  31.0
43  101.400000  3.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  35.0
44  103.200000  3.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  62.0
45  101.168571  2.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  32.0
46  101.000000  3.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  36.0
47  101.600000  3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  35.0